# Autodetect text files
* text=auto

# Force the following filetypes to have unix eols, so Windows does not break them
*.* text eol=lf

*.gif binary
*.ico binary
*.jpg binary
*.jpeg binary
*.png binary
